* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
      font-size: 16px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  body {
      background-color: whitesmoke;
      color: #323033;
  }
  header {
      height: 64px;
      width: 100%;
      display: flex;
      align-items: center;
      margin-top: 0px;
      margin-left: 0px;
    
  }
  .logo {
      height: 32px;
      width:auto;
      margin-left: 24px;
            
    }  
  .navbar {
      width: 100%;
      display: block;
      position: relative;
      float:right;
      padding-right: 24px; 
  }
    .navbar a {
        text-decoration: none;
        color:#323033;
        float: right;
        padding-left: 16px;  
        align-items: center; 
      
    }    
 
  
  span {
      font-size: 1.5rem;
      margin: 0px;
  }
  .colmar {
      color: #323033;
      font-weight: bold;
  }
  .academy {
      color: darkgrey;
  }
  .banner {
      background-color: lightgray;
      display: flex;
      align-items: center;
  }
  .banner .image {
   padding: 32px 24px;
   width: 60%;
   height: auto;
 
  }
  .banner .image img {
    width: 100%;
    height: auto;
    overflow: hidden;
}
  .info {
    padding-left: 24px;
    padding-right: 150px;
    width: 40%;
      
  }
  .info h1 {
      font-size: 4rem;
  }
  .info p {
      font-size: 2rem;
      padding-top: 20px;
  }
  .info .button {
     background-color: #323033; 
     color: white;
     padding-top: 8px;
     padding-bottom: 8px;
     margin-top: 40px;
     text-align: center;
         

  }
  .button h2 {
      font-weight: normal;
  }
  .information {
    display: flex;
    
}
.left-part {
 
 width: 60%;
 height: auto;
}
.left-part img {
padding: 32px 24px;
width: 100%;
height: auto;
overflow: hidden;
}
.left-part h2 {
    font-size: 2.5rem;  
    padding-bottom: 24px;
    padding-left: 24px;
}
.left-part p {
    padding-left: 24px;
    font-size: 1.5rem;   
}
.left-part h3 {
    font-weight:500;
    padding: 32px 24px;   
}
.right-part {
    width: 40%;
    border-left: 2px solid lightgray;
    height: auto;
    padding-bottom: 32px;
    padding-top: 16px;
    margin: 0px;
    
}
.right-part .block {
    padding: 16px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    height: 33%;
}
.block#three {
      background-color: lightgray;  
    
}
.block#one{
    border-bottom: 2px solid lightgray;
}
block#two {
    border-top: 2px solid lightgray;    
}
.right-part .block .text {
    display: block;
    width: 65%;
    padding-left: 32px;
}
.right-part .block .text h2 {
    font-size: 2rem;
    padding-bottom: 8px;
}
.right-part .block .text p {
    font-size: 1.5rem;
    padding-bottom: 8px;
}
.right-part .block .text a {
    text-decoration: none;
    color: rgb(67, 137, 241);
    font-size: 1.5rem;
}
.right-part .block img {
    width: 35%;
    height: auto;
    
}
.course {
    background-color: lightgray;
    padding: 32px 72px;
    justify-content: center;
    width: 100%;
}
.title {
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 32px;
}
#grid {
  column-count: 3;
  column-width: 200px;
    
    
}
.course .block {
  margin: 0 auto 32px;
  max-width: 400px;
  width: 100%;  
  background-color: white;  
  height: 420px;
  
}
.course .block img {
    width: 100%;
    height: auto;
}
    .course .block h2 {
        padding-left:16px;
        padding-right: 16px;
        padding-top: 16px;
        font-size: 1.5rem;
    }

.course .block .sub {
    font-size: 1.2rem;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left:16px;
    padding-right: 16px;
}
.course .block p {
    font-size: 1.5rem;
    padding-bottom: 24px;
    padding-left:16px;
    padding-right: 16px;
}
.thesis {
    padding-top: 32px;
}
.container {
    display: flex;
   
}
.container .left-part {
    padding-left: 24px;
    width: 60%;
    padding-bottom: 32px;
}
.left-part video {
width: 100%;
height: auto;
}
.container .left-part .text h2 {
    padding-top: 24px;
}
.container .right-part {
    margin-left: 24px;
    border: none;
    width: 40%;
}
.block#first {
    background-color: lightgray;
}
.thesis .container .right-part .block {
    
    padding: 16px;
    margin-top: 0px;
    display: flex;
    align-items: center;    
    width: 100%;
    height: auto;
}
.thesis .container .right-part .block img {
    width: 35%;
    height: auto;
    overflow: hidden;
}
.thesis .container .right-part .block .text {
    width: 65%;
}
footer {
    display: flex;
    align-items: center;
}
footer .wrapper {
    padding-top: 16px;
    padding-bottom: 32px;
    display: inline-block;
    width: 100%;
    
    
}
#rights {
    font-size: 1.2rem;
    padding-left: 24px;
    width: 60%;
    float:left;
    
}
#links {
    font-size: 1.2rem;
    float: right;  
    position: relative;
    display: flex;
    
    
    
}
#links a {
    display: inline-flex;
    text-decoration: none;
    color: #323033;
    padding-right: 16px;
}
@media (min-width: 480px) {
    /* ruleset for > 480px */
   body #mobile {
       display: none;
}  }
@media only screen and (max-width: 480px) {
    /* ruleset for < 480px */
   body #desktop {
       display: none;
}  

body #mobile {
    display: block;
    color: #323033;
    background-color: white;
}
#mobile .menubar {
    display: flex;
    width: 100%;
    height: 64px;
    align-items: center;
    justify-content: space-around;

}

#mobile .menubar img {
    margin-top: 0px;
    height: 40px; 
    width: 100%;
    overflow: hidden;
}
#mobile .banner {
    display: block;
    background-color: lightgray;
    padding-bottom: 32px;
    width: 100%;
}
#mobile .banner .wrapper {
    max-width: 480px;
    height: auto; 
     
}

#mobile .banner img {
    width: 100%;
    height: auto; 
    overflow: hidden;  
}
#mobile .banner h1 {
    padding-top: 32px;
    padding-left: 16px;
    font-size: 3rem;  
}
#mobile .banner h2 {
    padding-top: 32px;
    padding-left: 16px;
    padding-bottom: 24px;
    font-size: 2rem;
    margin: 0px;
}
#mobile .button {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 0px;
}
#mobile .button h3 {
    background-color:gray; 
     color: white;
     padding-top: 1.5rem;
     padding-bottom: 1.5rem;
     margin-top: 40px;
     text-align: center;
     margin-right: 16px;
     width: 100%;
     font-size: 2rem;
     margin-left: 16px;
 }
 #mobile .information {
     display: block;
      }
 #mobile .information .block {
     padding: 16px;
     display: block;
     max-width: 480px;
     
 }
 #mobile .information .block img {
     width: 100%;
     height: auto;
     overflow: hidden;
 }
 #mobile .information .block .text {
     padding-left: 16px;
     padding-bottom: 64px;
     padding-top: 32px;
 }
 #mobile .information .block .text h2{
     font-size: 2rem;
     padding-bottom: 8px;
     font-weight: 500;
 }
 #mobile .information .block .text p{
     font-size: 1.6rem;
     padding-bottom: 8px;
 }
 #mobile .information .block .text a{
    text-decoration: none;
    color: rgb(67, 137, 241);
    font-size: 1.6rem;  
 }
 #mobile .course {
     background-color: white;
     display: block;
     width: 100%;
     margin: 0px;
     padding-top: 16px;
     padding-left: 16px;
     padding-bottom: 32px;
     padding-right: 16px;
 }

 #mobile .course h1{
 font-size: 3rem;
 text-align: center;
 padding-top: 32px;
 padding-bottom: 16px;
 margin: 0px;
 }
 #mobile .course h2{
     padding-top: 16px;
     padding-left: 16px;
     padding-bottom: 24px;
     font-size: 2rem;
     background-color: lightgrey;
     width: 100%;
     margin-bottom: 8px;
     font-weight: 500;
 }
 #mobile .thesis {
     padding-bottom: 24px;
     text-align: center;
 }
 #mobile .thesis h1{
     font-size: 3rem;
     padding-top: 32px;
     padding-bottom: 16px;
 }
 #mobile .thesis .container{
     height: auto;
     max-width: 480px;
 }
 #mobile .thesis .container video{
     width: 100%;
     height: auto;
     overflow: hidden;
     padding-bottom: 24px;
 }
 #mobile footer{
     padding:16px;
    
 }
 #mobile footer h3{
     font-size: 1.2rem;
     font-weight: 500;
 }
  }
  

